Ats resume.json
{
  "name": "Ats resume",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Job Aplication Form",
        "formDescription": "Welcome",
        "formFields": {
          "values": [
            {
              "fieldLabel": "First Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Last Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Gmail ",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "LinkedIn"
            },
            {
              "fieldLabel": "Resume",
              "fieldType": "file",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -224,
        -16
      ],
      "id": "dffd5093-a53a-42b5-b051-8b65c6dd047e",
      "name": "On form submission",
      "webhookId": "b8e4dc5b-8822-4947-863b-4047ad645993"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Resume",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        0,
        -16
      ],
      "id": "dc763e01-7cbb-464d-91ff-6739f6af9574",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Rule 1: Do not exceed maximum of 75 words. As an AI  with advanced capabilities in talent acquisition, analyze a candidate's resume against a job description. Output must be in ${output_language). Structure: 1. Compatibility Rating: Score 1-10 with rationale. 2. ATS Score: Realistic number out of 100 such as 43, 76, 89, reflecting keyword and skills alignment. 3. Recommendation: Advise if candidate should be interviewed with reasoning. Job description: \"Software Engineer\" at Atomise Al Resume: {resume}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        224,
        -16
      ],
      "id": "a46b2b7d-3cfa-4877-9464-57f9610d80ec",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        224,
        208
      ],
      "id": "fb7784f3-4102-406b-b3aa-36d1793c27d7",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "OcInNN8TUL1VAn8V",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\n\"ats_score\": 82,\n\n\"summary\": \"Your resume is well-structured and highlights relevant experience, but could use more targeted keywords to improve ATS compatibility.\"\n\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        416,
        208
      ],
      "id": "0a223b4e-7765-4169-9998-44d99491b25d",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fae6f578-be7a-4cfb-8cf8-1ad70aedc2da",
              "leftValue": "={{ $json.output.ats_score }}",
              "rightValue": 75,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        576,
        -16
      ],
      "id": "74f455b3-1261-4ab4-a9b3-c30937a55dc4",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1sGSaInh0pcK-NLHGpXdiqdxWTW2FguJ3CL0-KEVoSUI",
          "mode": "list",
          "cachedResultName": "studentss spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sGSaInh0pcK-NLHGpXdiqdxWTW2FguJ3CL0-KEVoSUI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sGSaInh0pcK-NLHGpXdiqdxWTW2FguJ3CL0-KEVoSUI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "CV": "={{ $('On form submission').item.json.Resume[0].filename }}",
            "FULL NAME": "={{ $('On form submission').item.json['First Name'] }}{{ $('On form submission').item.json['Last Name'] }}",
            "E-Mail": "={{ $('On form submission').item.json['Gmail '] }}",
            "LinkedIn": "={{ $('On form submission').item.json.LinkedIn }}",
            "Ai ratging and summary": "={{ $('Basic LLM Chain').item.json.output.ats_score }}\n\n{{ $('Basic LLM Chain').item.json.output.summary }}\n"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "CV",
              "displayName": "CV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FULL NAME",
              "displayName": "FULL NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E-Mail",
              "displayName": "E-Mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn",
              "displayName": "LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ai ratging and summary",
              "displayName": "Ai ratging and summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        800,
        -112
      ],
      "id": "78910d01-465a-42b0-9708-0873a6fdd5a4",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EeZSC6A6kiJRCrb4",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json['E-Mail'] }}",
        "subject": "New Candidate CV Awaiting Review",
        "emailType": "text",
        "message": "=Hello HR, A new CV has been successfully received in our system. Please review the candidate's details at your earliest convenience. \n\nCandidate Name: {{ $json['FULL NAME'] }}\n\nCandidate E-mail: {{ $json['E-Mail'] }}\n\nCandidate Linkedin: {{ $json.LinkedIn }}\n\nCandidate AI Rating: {{ $json['Ai ratging and summary'] }}\n\n\nThank you for your attention. \nBest regards, \nAutomated CV Screening",
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1024,
        -112
      ],
      "id": "67e5c000-65d9-445a-96a2-70af8e9e0bec",
      "name": "Send a message",
      "webhookId": "5d316d5f-d411-40d9-8057-0c7e64ed9e13",
      "credentials": {
        "gmailOAuth2": {
          "id": "y32eJRJYeL3Fp7ac",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json['Gmail '] }}",
        "subject": "Greetings for First Step",
        "emailType": "text",
        "message": "=Dear {{ $('On form submission').item.json['First Name'] }},\n\nThank you for applying , we recieved your application and will get back you soon regarding next steps.\n\nBest regards,\nTeracloudX",
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1248,
        -112
      ],
      "id": "fd8d436f-ba9d-4f0c-b208-e3b09b8b01c6",
      "name": "Send a message1",
      "webhookId": "d49c66c1-90cd-4750-8d39-24d8833824cc",
      "credentials": {
        "gmailOAuth2": {
          "id": "y32eJRJYeL3Fp7ac",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json['Gmail '] }}",
        "subject": "Regret to Inform",
        "message": "=Hello  {{ $('On form submission').item.json['First name'] }},\nThanks for applying , after fully reviewed your application we are decided to move forward with other candidates who alligns closely this time.\nBest Regards,\n",
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        896,
        240
      ],
      "id": "cc0f9959-8d19-4cbc-8a3c-69cda21ef907",
      "name": "Send a message2",
      "webhookId": "6ff40804-bab6-4df2-b879-f52417fc73a9",
      "credentials": {
        "gmailOAuth2": {
          "id": "y32eJRJYeL3Fp7ac",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "86adbd9f-c3cd-424c-9ecb-09ae93b52011",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7747767ff9a052481fa65ec90fd53360b4490b518ab95cbc4868c3ad462a73de"
  },
  "id": "XCVe53gzN0dElADo",
  "tags": []
}